<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>摄影工作室页面</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<script type="text/javascript" src="../js/index.js" ></script>
		<style>
			* {
				margin: 0px;
				padding: 0px;
			}
			body {
				font-size: 16px;
			} 
			.content {
				width: 100vw;
				margin: 0px auto;
			}
			.annouce_photo {
				background-image: url(../img/annouce_photo.jpg);
				background-size: 100% 100%;
				width: 50%;
			    height: 0;
			    padding-top: 31.25%;
			}
		</style>
	</head>
	<body>
		<!-- 主内容块 -->
		<div class="content">
			<!-- 宣传照部分 -->
			<div class="annouce_photo">
				
			</div>
			<!-- 拼团部分 -->
			<div class="group_buying">
				
			</div>
			<!-- 宣传说明照部分 -->
			<div class="annouce_explain_photo">
				
			</div>
		</div>
		<div class="footer">
			
		</div>
	</body>
</html>
